{% extends 'base.html' %}

{% block title %}Fur Finder{% endblock %}

{% block content %}
    <br>
    <div>
        <h3>About Me</h3>
        <p>Hello! I am currently a student at OSU's <a href="https://ecampus.oregonstate.edu/online-degrees/undergraduate/computer-science-postbacc/" target="_blank">postbacc program</a>.</p>

        <h3>About This Project</h3>
        <p>This project is for OSU's Software Engineering I class. I used the <a href="https://www.petfinder.com/developers/" target="_blank">PetFinder API</a> to find pets available for adoption.</p>
    </div>
{% endblock %}