{% extends 'base.html' %}

{% block title %}Fur Finder{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <section class="px-3">
        <h2>Welcome to Fur Finder!</h2>

        <p class="lead">Please fill out the form below to find your new pet!</p>
        <p>Required fields are followed by <span aria-label="required">*</span>.</p>

        <form method="GET" action="/search-results">
        <label>Select the type of pet you want to adopt.<span aria-label="required">*</span></label>
        <br>
        <select name="type">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="rabbit">Rabbit</option>
            <option value="bird">Bird</option>
        </select>
        <br>
        <label>What is your five-digit postal code? <span aria-label="required">*</span></label>
        <input type="text" id="zipcode" name="zipcode" inputmode="numeric" pattern="\d*" minlength="5" maxlength="5"/>
        <br>
        <label>Select the distance you'd like to look from you.</label>
        <select name="distance">
            <option value=10>10</option>
            <option value=25>25</option>
            <option value=50>50</option>
            <option value=100>100</option>
        </select>
        <br>
        <input type="submit" class="btn btn-sm btn-light fw-bold border-white bg-white"/>
            </form>
    </section>

{% endblock %}
